.categorySelector {
    padding: 1.5vh 0;
}

.categories {
    background:#218ffe !important;
}

.categories:hover {
    background: #f99e1a !important;
}

.selectedCategory {
    background: #f99e1a !important;
}