@font-face {
    font-family: overwatch;;
    src: url(./imgs/koverwatch.ttf);
}

html, body {
    min-height: 100%;
    width: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
}