#teamPage {
    height: 95vh; /* Navbar takes up remaining height */
    margin: 0;
    background: url('../../imgs/winston-rage.jpg');
    background-size: cover;
    font-family: overwatch;
}

#team-battle {
    margin: 0 auto;
    width: 70%;
    /* max-height: 45vh; */
    background: rgba(0, 0, 0, 0.5);
}

#chat-box {
    margin: 0 auto;
    width: 70%;
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
}