#teamPage {
    min-height: 100vh; 
    margin: 0;
    background: url('../../imgs/winston-rage.jpg');
    background-size: cover;
    font-family: overwatch;
}

#team-battle {
    margin: 3vh auto 0 auto;
    width: 70%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#team-battle .battleCard:hover {
    background: transparent !important;
}

#chat-box {
    margin: 0 auto;
    width: 70%;
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
}