#login {
    background: url('../../imgs/discord_bg.jpg');
    background-size: cover;
    padding: 20vh 0;
    height: 91.5vh;
}

@media only screen and (min-width: 1400px) {

#login {
    height: 93vh;
}
}