#home {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../imgs/overwatch-bg.jpg');    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:50% 50%;    
    height: 95vh;
}
