.battleCard {
    border: #eee solid 1px;    
}

.battleCard:hover {
    background:#218ffe !important;
}

.cardName {
    margin: 0 auto;
    color: #000;
    font-size: 2vw;
    background: #218ffe;
}
.characterPic {
    color: #eee;
    width: 100%;
    margin: 0;
}

.selected {
    color: #000; 
    background:#f99e1a !important;    
    border: rgb(255, 221, 67) solid 5px;
}

.selected:hover {
    background: #f99e1a !important;
}