#register .container-fluid {
   padding: 8.32vh 0;
}

.form-horizontal {
    padding: 5vh 3vw;
    color: #eee;
    font-family: overwatch;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );    
    border: black 1px solid;    
}

.form-horizontal hr {
    background-color: #eee;
}    

.form-horizontal label {
    padding: 0.5vh 0;
    margin: 0;
    font-size: 1.5rem;    
}

.register-button {
    margin: 0;
}

.form-horizontal input {
    background: transparent;
    font-family: sans-serif;
    color: #eee;
}

.form-horizontal input:focus {
    background: transparent;
    color: #eee;
}

/* Input Font */
.form-horizontal select, .form-horizontal select:focus {
    background: transparent;
    color: rgb(138, 138, 138);
}

.form-horizontal select:focus option{ 
    color: #444;
}

.register-button {
    padding: 0.5vh 8vw !important;
    font-size: 1.5rem !important;
    margin: 0 10vw;
}