#search {
    min-height: 100vh;
    height: 100%;
    background: url('../../imgs/winston-rage.jpg');
    background-size: cover;
    font-family: overwatch;
    text-align: center;
}

#characters {
    margin: 0 auto;
    border-radius: 7px;
    padding: 0 2vw;
    width: 90%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;    
}

.hovering {
    background: #aaa !important;
}

.chosen {
    background: #fff !important;
}

#searchButton {
    display: block;
    margin: 0 auto 2vh auto;
}

#searchButton:hover {
    background: #218ffe !important;
}

#search .search-header {
    width: 100%;
    margin: 1.5vh auto;
}

#search h2.white {
    color: #218ffe;
    width: 100%;
    margin: 0 auto;
}

#search .bottom-button {
    margin: 2vh auto;
}