#profilePage{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../imgs/light-bg.jpg');
    width: 100%;
    min-height: 100%;
    background-size: cover;
    font-family: overwatch;
    text-align: center;
    padding: 1.3vh 0 15vh 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;        
}

#info {
    padding: 2vh 2vw;
    max-width: 100vw;
    height: 25vh;
    margin: 0;
    color: rgb(238, 238, 238);
}

#info .col-md-1 {
    padding: 0;
}

#info h1 {
    margin: 0;
}

#info .col-md-3, #info .col-md-4 {
    padding: 3.5vh 0;
}

#info .rank {
    
}

#info .col-md-3 .row {
    padding: 1.5vh 0;
    margin: 0;
}

#info .username {
    text-align: left;
    padding: 0 2vw;
}

.profileImgs {
    width: 100%;
    margin: 0;
    float: left;
    padding: 0;
}

.header {
    background: #43484c;
    color: #eee;
    width: 15vw;
    margin: 0 auto;
    border: #eee solid 1px;
    border-bottom: none;
}

.lifetime {
    margin: 0 2vw !important;
    background: #43484c;
    color: 	#fff;
    font-size: 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;        
}

.lifetime .col-md-2 {
    color: #f99e1a;
    font-size: 2vw;
    border: #eee solid 1px;        
}

.dropdown {
    margin: 5vh auto;
    text-shadow: none;
}

.heroStats {
    width: 90%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );    
    margin: 0 auto !important;
    border: #f99e1a 2px solid;
    color: #eee;
}

.heroStats img {
    width: 18vw;
    margin: 0;
}

.stats-header {
    margin: 2vh 2vw;
    text-align: left;
}

.raw-hero-stats .col-md-3 {
    text-align: left;
    background: #43484c;
    border-left: #f99e1a solid 1px;
    border-right: #f99e1a solid 1px;    
    padding: 4vh 2vw;
}

.raw-hero-stats .col-md-3 h2 {
    margin: 0 auto;
    text-decoration: underline;
}
    

.raw-hero-stats .col-md-3 h3 {
    margin: .7vh auto;    
}

.raw-hero-stats .col-md-9 {
    padding: 0;
}
    
.introHeader {
    margin: 0;
}

.raw-hero-stats .col-md-9 video {
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .username, .bestHeader {
        margin: 5vh 2vw; 
    }
}