#profilePage{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../imgs/light-bg.jpg');
    width: 100%;
    min-height: 100%;
    background-size: cover;
    font-family: overwatch;
    text-align: center;
    padding: 1.3vh 0 15vh 0;
}

#info {
    padding: 2vh 2vw;
    max-width: 100vw;
    height: 25vh;
    margin: 0;
    color: rgb(238, 238, 238);
}

.profileImgs {
    width: 150px;
    margin: 0;
    float: left;
}

.username, .bestHeader {
    float: left;
    margin: 4vh 2vw;
}

.bestHero, .bestHeader {
    float: right;
}

.bestHeader {
    font-size: 2rem;
}

#skill {
    padding: 5vh 4vw;
}

.skillRating {
    margin-left: 2.5vw;
}

#skill img {
    height: 20px;
}

.header {
    background: #43484c;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
    color: #eee;
    width: 15vw;
    margin: 0 auto;
    border: #eee solid 1px;
    border-bottom: none;
}

.lifetime {
    margin: 0 2vw !important;
    background: #43484c;
    color: 	#fff;
    font-size: 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;        
}

.lifetime .col-md-2 {
    height: 15vh;
    color: #f99e1a;
    border: #eee solid 1px;        
}

.dropdown {
    margin: 5vh auto;
    
}

.heroStats {
    margin: 0 2vw !important;
    background: #43484c;
}

.heroStats .col-md-1 {
    border: #eee solid 1px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;           
    font-size: 2rem; 
    color: #f99e1a;
}