.loginBox  { /* Class for Row */
    font-family: overwatch;
    border: 2px solid black;
}

img {
    margin: 10vh 0 0;
    width: 100%;
}

.loginBox .col-md-4 {
    padding: 0;
    background: #fff; 
}   

.loginBox .col-md-8 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );    
    border-left: solid 1px black;
    padding: 5vh 2vw;
    max-height: 100%; /* Ensures columns do not stretch past row*/
}

.loginBox label {
    color: #fff;
    font-size: 2rem;
}
    

.loginBox input {
    margin-bottom: 2vh;
    background: transparent;
    font-family: sans-serif;    
    color: #eee;
}

.loginBox input:focus {
    background: transparent;
    color: #eee;    
}

.btn-sm {
    margin: 2vh 10vw;
    padding: 0 4vw !important;
    font-size: 2rem !important;
}

@media only screen and (max-width: 1400px) {
    img {
        margin-top: 17vh;
    }
}    