#login .container-fluid {
    padding-top: 7vh;
}

.loginBox  { /* Class for Row */
    border: 2px solid black;
    height: 40vh;
}

img {
    margin: 8vh 0 0;
    width: 100%;
}

.loginBox .col-md-8 {
    border-left: solid 1px black;
    padding-top: 5vh;
    max-height: 100%; /* Ensures columns do not stretch past row*/
}

.loginBox input {
    margin-bottom: 2vh;
}