.navbar {
    background-color: 	#000;
}

.nav-item {
    padding: 8px;
}

.navbar-brand {
    color: #f99e1a;
    font-family: overwatch;
    font-size: 2rem !important;
}

.nav-item a { 
    color: #218ffe;
    font-family: overwatch;
    font-size: 1.5rem;
    
}